* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}

header {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    font-size: 25px;
    cursor: pointer;
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    display: flex;
    justify-content:center ;
    align-items:center;
    text-align:center;
    padding-top: 70px;
   
}


.hero-text h1 span {
    color: #ffd700;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #fff;
    color: #333;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.about, .projects, .contact {
    padding: 80px 20px;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.project-card {
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
}

@media(max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
        border-radius: 5px;
    }

    .menu-toggle {
        display: block;
    }
   
}




